
{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block body %}
  <div class="container my-4">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-primary" role="alert">
                      <strong>{{ error|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-primary" role="alert">
                    <strong>{{ error|escape }}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                {% endfor %}
            {% endif %}
            <form class="form-signin" method="post",action="{% url 'account_login' %}">
                {% csrf_token %}
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="login">
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
            <form>
              <p style="margin-bottom:1px;">Forgot your password? <a href="{% url 'account_reset_password' %}">Click here</a></p>
              <p style="margin-bottom:2px;">New user?<a href="{% url 'account_signup'%}">Create Account</a></p>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mx-1" aria-hidden="true"></i><a style="color:white;"href="{% provider_login_url 'google' %}">Sign in with Google</a></button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook mx-1" aria-hidden="true"></i><a style="color:white;" href="{%  provider_login_url 'facebook' method ='oauth2' %}">Sign in with Facebook</a></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}
